<div class="shortened-links" id="url_block_content">
    <br>
    <br>
    <div class="card is-hidden" id="url_block">

        <div class="card-content">
        
            <p class="" id="long_url">Here the long link will go</p>
            <br>
            <a href="" class="button is-ghost" id="short_url">Here the short link will go</a>
            <hr>
            <button id="copy-btn" onclick="copyText(short_url)" class="button is-dark is-rounded" role='button'>Copy</button>
        
        </div>
    
    </div>

</div>
